body {
    background-color: dimgrey;
}

header {
    background-color:darkslategray ;
}

h1 {
    padding-left: 10px;
    padding-top: 10px;
}

nav {
    display: flex;
    background-color: black;
    padding: 5px;
    justify-content: center;
    align-content: space-evenly;
}

nav a {
    flex: 1;
    padding: 15px;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    }

.content {
    background-color: cadetblue;
}

.content p {
    padding: 10px;
    margin-bottom: 200px;
}
.aside {
    grid-column:2/3;
    background-color: aquamarine;
}

.aside p {
    padding: 10px;
    margin-bottom: 200px;
}

footer {
    background-color: darkolivegreen;
    display: flex;
    justify-content: center;
}

footer p {
    margin-bottom: 100px;
    text-decoration: solid;
}