@media (min-width:1000px) {
  
  
    .card-data, .card-weather {
      background-color: whitesmoke;
      padding-bottom: 20px;
    }
  
  
  .card-data h2, .card-weather h2 {
    font-size: 1.7rem;
    text-align: left;
    background-color: #116905;
    color: white;
    padding: 7px;
    padding-left: 30px;
    margin-top: 20px;
    margin-left:-10px;
    margin-bottom: 20px;
    
  }
  
  .photo {
    position: relative;
  
  }
  
  .card-data {
    position: absolute;
    top: 40%;
    left: 5%;
    z-index: 2;
    width: 35%;
    font-size: 17px;
    
  
  }
  
  .card-weather {
    position: absolute;
    top: 80%;
    right: 5%;
    z-index: 2;
    width: 35%;
    font-size: 17px;
  
  }
  
  .card-weather #icon {
    display: none;
   }
  
  
  }
  
  
  